/*IMAGENES*/
.images-1 img{
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-right: 20px;
    width: 187px;
    height: 265px;
}
.most-popular{
    width: 300px !important;
    height: 250px !important;
}
/*Slide*/
 /*  .slide-popular{
  width: 20%; 
}  */
.slide-center{
 /*    margin-left: 25%; */
    border: solid white;
    width: 50%;
}
.carousel-images{
/* margin-left: 50%; */
align-items: center;
border: solid white;
}



.most-popular-3{
  text-align: center;
}