/*Main*/

.body-index{
    .new-class{
        margin-top: 5%;
    }
}

h2{
    color: white;
    text-decoration: none;
    
    a{
        text-decoration: none;
        color: white;
    }
        }
        

/*IMAGENES*/
.images-1{
img{
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin-right: 20px;
    width: 187px;
    height: 265px;
    margin-top: 5%;
    margin-bottom: 5%;
}
} 
.most-popular{
    width: 300px !important;
    height: 250px !important;
}

.most-popular-3{
  text-align: center;
}

/*carousel*/

.slide-center{
    width: 50%;
    margin-left: 25%;
}