.images-5{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    width: auto;
    /*justify-items: center;*/
    img{
        border-style: solid;
        border-radius: 5px;
        border-color: grey;
        margin-right: 20px;
        width: 187px;
        height: 265px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20px;
       
        
        
    }
}
    .recommended-movies-main{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .recommended-series-main{
        margin-top: 5%;
        margin-bottom: 5%;
    }