    /*.carlos{*/   
       /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;*/
    #follow-us-item{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
        h3{
           
            color: red;
           
        }
        a{
            text-decoration: none;
            color: red
        }

        #about-us-color h2{
            color: red !important;
    
        }
        #about-us-color{
            text-decoration: none;
        }

        
        .item.social {
            text-align: center;
      
            a {
                color: white;
              font-size: 20px;
              width: 36px;
              height: 36px;
              line-height: 36px;
              display: inline-block;
              text-align: center;
              border-radius: 50%;
              box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
              margin: 0 8px;
              color: #fff;
              opacity: 0.75;
            }
      
            a:hover {
              opacity: 0.9;
            }
            
          }
        
    