header{
    background-color: white;
    nav{
        a{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            
        }
        .nav-link{
            color: black;
        }
    }
}
